body{
    background-image: url(https://img.freepik.com/free-vector/two-men-staring-each-other-as-enemies-conflict-two-worker_10045-384.jpg?size=626&ext=jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ef589d;
}

#lens{
    filter: brightness(200%);
}

.Menu-list {
    font-size: 10rem;
    line-height: 1.2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(-10deg) rotateY(20deg);
  }
  
  .Menu-list-item {
    position: relative;
    color: transparent;
  }
  .Menu-list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    left: -10%;
    right: -10%;
    height: 4px;
    border-radius: 4px;
    margin-top: -2px;
    background: white;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1;
  }
  
  .Mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 0;
    height: 49%;
    transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  }
  .Mask span {
    display: block;
  }
  
  .Mask + .Mask {
    top: 48.9%;
    height: 51.1%;
  }
  .Mask + .Mask span {
    transform: translateY(-49%);
  }

.img{
    height: 400px;
    width: 250px;
    margin-top: 45px;
    margin-left: -170px;
    border-radius: 5rem;
}

.img_special{
    height: 400px;
    width: 270px;
    margin-top: 45px;
    margin-left: -170px;
    border-radius: 5rem;
}

.model{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    width: 100rem;
    height: 50rem;
    border-radius: 10pt;
    margin-bottom: 0.5in;
    box-shadow: 1px 1px 38px black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.result::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.result:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.result::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}